accelerate==1.12.0
alias-free-torch==0.0.6
datasets==2.16.0
python-dotenv==1.2.2
ema-pytorch==0.7.7
google-genai==1.67.0
nltk==3.9.3
openai==2.26.0
pandas==3.0.1
protobuf==4.25.8
pypesq @ git+https://github.com/vBaiCai/python-pesq@a76902d7dd371a172bfcbb52d80b2d1f1f9251dd
pytorch-lightning==2.2.0.post0
pytorch-metric-learning==2.8.1
pytorch-wpe==0.0.1
rotary-embedding-torch==0.6.1
torch==2.6.0
torch-audiomentations==0.12.0
torch-complex==0.4.3
torch-stoi==0.2.1
torch_geometric==2.4.0
torch_pitch_shift==1.2.5
torchaudio==2.6.0
torchcrepe==0.0.22
torchdata==0.9.0
torchdiffeq==0.2.5
torcheval==0.0.7
torchlibrosa==0.1.0
torchmetrics==1.6.1
torchutil==0.0.13
torchvision==0.21.0
tqdm==4.67.1
transformers==4.57.6
